*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    /* text-decoration: none; */
}
body{
    /* background-color: rgb(204, 229, 242); */
    background-color: #f6f7f9;
    font-family: 'Arial', sans-serif;
}

.img{
    display:flex;
    justify-content: center;
    margin: 40px;
}

.max{
    max-width: 1100px;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background-color: #fefefe;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.social-icons a {
    margin-right: 15px;
    font-size: 20px;
    color: #4A4A4A;
    /* text-decoration: none; */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 17px;
}
ul li .nav-links{
    list-style-type: disc;

}
.nav-links li {
    display: inline;
}

.nav-links a {
    /* text-decoration: none; */
    color: #4A4A4A;
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s ease;
    list-style-type: circle;
    text-decoration: gold;
    text-decoration: double;
    
}

.nav-links a.active {
    color: #FFB74D;
}

.nav-links a:hover {
    color: #FFB74D;
}

.nav-icons a {
    margin-left: 20px;
    font-size: 20px;
    color: #4A4A4A;
    /* text-decoration: none; */
}

.nav-icons a:hover {
    color: #FFB74D;
}


/* img -section */

.img-section{
    max-width: fit-content;
    /* margin: auto; */
}
.inner{
    display: flex;
    justify-content: flex-start;
    /* align-items: start; */
    overflow-x: scroll ;
    scroll-behavior: smooth;
    scrollbar-width: 20px;
    

}
.inner img {
    height: 567px;
    width: 850px; 
    margin-top: 30px;
    padding: 20px;
    border-radius: 30px;
}

/* services-section */

.service-sec .box-1{
    border: 2px solid black;
    width: 265.5px;
    height: 175px;

}
.box-1 img{
    width: 265.5px;
    height: 175px;
}