* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.btn-row{
    justify-content: space-between;
}
.search-box {
    display: flex;
    /* justify-content: flex-start; */
    margin-bottom: 20px;
}

.search-box input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    padding: 6px 15px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.buttons .delete-btn {
    background-color: #dc3545;
    color: #fff;
}

.buttons .export-btn {
    background-color: #17a2b8;
    color: #fff;
}

.buttons .create-btn {
    background-color: #28a745;
    color: #fff;
}

.records-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.records-table th, .records-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.records-table th {
    background-color: #f2f2f2;
}

.records-table td {
    background-color: #fff;
}

.records-table button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background-color: #17a2b8;
    color: #fff;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.pagination .active {
    background-color: #0056b3;
}
